# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Caches & Logs
.pytest_cache/
*.log
annotator.log
tmp.txt

# Environment variables
.env.local

# Datasets and Heavy Media Files
Data/
*.mp4
*.avi
*.mov
*.mkv

# Predictions & Heavy JSON/PKL Data
*.pkl
*.pickle
output/
work_dirs/

# Model Weights
weights/
*.pth
*.pt
*.onnx
*.safetensors
*.bin

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

configs/local_settings.json

src_old/