addict
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
anytree
asttokens
attrs
blinker
c3d
certifi
charset-normalizer
chumpy
click
colorama
coloredlogs
comm
contourpy
crcmod
cryptography
customtkinter
cycler
Cython
darkdetect
dash
debugpy
decorator
einops
exceptiongroup
executing
fastjsonschema
filelock
filterpy
Flask
flatbuffers
fonttools
fsspec
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
itsdangerous
janus
jedi
Jinja2
jmespath
json-tricks
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
mat4py
matplotlib
matplotlib-inline
mdurl
mmdet
mmengine
mmpose
mmpretrain
model-index
modelindex
mpl_interactions
mpmath
munkres
narwhals
nbformat
nest-asyncio
networkx
numpy<2.0.0,>=1.23.0
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
opendatalab
openmim
openvino
openvino-telemetry
openxlab
ordered-set
oss2
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
plotly
polars
polars-runtime-32
pose2sim
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycocotools
pycryptodome
pydantic
pydantic_core
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests<2.30.0
retrying
rich
rpds-py
rtmlib
scipy
setuptools<70.0.0
shapely
six
stack-data
statsmodels
sympy
tabulate
termcolor
terminaltables
toml
tomli
torch
torchvision
tornado
tqdm
traitlets
triton
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
Werkzeug
widgetsnbextension
xtcocotools
yapf
zipp

